html {
    background-color: black;
    color: white;
}

h1 {
    font-size: 60pt;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#title {
    display: flex;
    justify-content: center;
}