html {
    background-color: black;
    color: white;
}

h1 {
    font-size: 50pt;
}

#canvas-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.help-text {
    font-family: 'Times New Roman', Times, serif;
    /* width: 200px; */
    font-size: 16pt;
}

#title {
    display: flex;
    justify-content: center;
}